.form-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px;
}
/* label color */
.input-field label {
	color: rgba(0, 0, 0, 0.3) !important;
}
.input-field ul li span {
	color: #b71c1c !important;
}
/* label focus color */
.input-field input[type='text']:focus + label {
	color: #b71c1c !important;
}
.input-field textarea:focus + label {
	color: #b71c1c !important;
}
/* label underline focus color */
.input-field input[type='text']:focus {
	border-bottom: 1px solid #b71c1c !important;
	box-shadow: 0 1px 0 0 #000 !important;
}
.input-field textarea:focus {
	border-bottom: 1px solid #b71c1c !important;
	box-shadow: 0 1px 0 0 #000 !important;
}
/* valid color */
.input-field input[type='text'].valid {
	border-bottom: 1px solid #b71c1c !important;
	box-shadow: 0 1px 0 0 #000 !important;
}
/* invalid color */
.input-field input[type='text'].invalid {
	border-bottom: 1px solid #b71c1c !important;
	box-shadow: 0 1px 0 0 #000 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #b71c1c !important;
}

input.first-name {
	margin: 0;
}

.auto-complete {
	display: none;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: visible;
	width: 100%;
	margin: 0;
	padding: 5px;
}

li.autocomplete-item {
	list-style: none;
	cursor: pointer;
}

li.autocomplete-item:hover {
	color: #b71c1c;
}
